*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.counter{
    width: 30vw;
    height: 50vh;
    margin:  auto !important;
    padding-top: 15rem;
        text-align: center;
    
    
}

.maincont{
    background-color: #f6f6f6;
    width: 100vw;
    height: 100vh;
}

.counter-no p{
    font-size: 100px;
   
}

button{
    background-color: green;
    color: white;
    padding: 1rem;
    border: none;
}